/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.font-poppins {
  font-family: "Poppins";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Normal Css */
.NotificationModal .NotificationModalFirst{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .NotificationModal .NotificationModalFirst h1{  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 18px;
letter-spacing: -0.28px;
color: #000000;
}

.NotificationModal .close {
  position: relative;
  width: 100%;
  height: 40px;
}
.NotificationModal .fa-x{
  position: absolute;
  right: 0px;
  font-size: 22px;
  cursor: pointer;
}
.NotificationModal p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.28px;
  color: #000000;
}

.NotificationModal .NotificationDiv div h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: -0.28px;
width: 70%;
}
.NotificationModal .NotificationDiv div p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 18px;
letter-spacing: -0.28px;

color: rgba(0, 0, 0, 0.5);
}
.NotificationModal .NotificationDiv div div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NotificationModal .NotificationDiv div div p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: -0.28px;
margin: 0;
color: rgba(0, 0, 0, 0.5);
}
.NotificationModal .Time{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.28px;
  color:  #003466;
}

.NotificationModal .NotificationDiv{
  display: flex;
align-items: center;
gap: 20px;
}
.NotificationModal .NotificationDiv div img{
  width: 60px;
height: 60px;
border-radius: 50%;
}

.modal.fade .modal-dialog .modal-content{
  border-radius: 0px;
}

/* .bars{
  display: none;
} */




.offSideBarMain .SideBarMain{
 
background: #FFFFFF;
border: 1px solid #D9D9D9;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
padding: 10px;
}
.offSideBarMain .SideBarMain>h1{
  text-align: center;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
margin-top: 5px;
letter-spacing: -0.28px;
}
.offSideBarMain .SideBarMain>div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offSideBarMain .SideBarMain>div>div{
  text-align: center;
}
.offSideBarMain .SideBarMain>div>div>img{
  width: 120px;
height: 121px;
  border-radius: 50%;
}
.offSideBarMain .SideBarMain>div>div>h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
letter-spacing: -0.28px;
}
.offSideBarMain .SideBarMain>div>div>p{
  font-family: 'Poppins';
font-style: normal;
margin-top: -10px;
font-weight: 300;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.28px;
color: rgba(0, 0, 0, 0.5);
}
.offSideBarMain .TotalBudgetDiv{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px;
}
.offSideBarMain .TotalBudgetDiv>h1:first-child{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
letter-spacing: -0.28px;
}
.offSideBarMain .TotalBudgetDiv>h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
  letter-spacing: -0.28px;   
}
.offSideBarMain .LinkBox{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.LinkBox>a{
  text-decoration: none;
}
.active{
  width: 250px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  background: #003466;
  box-shadow: 0px 0px 32px 4px rgba(0, 52, 102, 0.25);
  border-radius: 12px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.unactive{
  width: 250px;
  height: 65px;
  display: flex;

  color:#003466;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.unactive,.active >p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.28px;
}











/* Media Query */
@media (max-width: 780px) {
  .Login_MainDiv__AWrd2 {
    display: block !important;
  }
  .Login_MainDiv__AWrd2 > div {
    width: 100% !important;
    height: 700px !important;
  }
  .Login_LoginMainSection__Yyq5T > div {
    width: 100% !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }

  .Register_RegisterMainDiv__Hok-C {
    display: block !important;
    width: 100% !important;
  }

  .Register_RegisterFirstSection__0bCb6 > p {
    text-align: center;
    display: block;
    width: 500px;
  }

  .myHr {
    max-width: 400px !important;
    margin: auto !important;
    display: block !important;
  }
  .smallImage {
    width: 100% !important;
  }
  .Register_RegisterMainDiv__Hok-C > div:first-child {
    width: 100% !important;
  }
  .Register_RegisterMainDiv__Hok-C > div:last-child {
    width: 100% !important;
  }
  .Register_InputBoxMain__6Dvtf {
    margin-left: 60px;
  }

  .Register_RegisterTitle__dGsqQ {
    justify-content: center;
  }

  .RegisterTwo_RegisterMainDiv__Oc9\+U {
    display: block !important;
  }
  .RegisterTwo_RegisterMainDiv__Oc9\+U > div:first-child {
    width: 100% !important;
  }

  .RegisterTwo_RegisterMainDiv__Oc9\+U > div:last-child {
    width: 100% !important;
  }
 
    .bars{
      display: block;
    }
}


